@tailwind base;
@tailwind components;
@tailwind utilities;
.shadow-sm  {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.fi-input  {
    padding: 12px !important;
}
.choices__input  {
    padding: 6px !important;
}
.fi-input-wrp {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px !important;

}

.fi-logo {
    height: 50px !important;
}
